/* #region Reset */
a {
    text-decoration: none;
}

ul, ol {
list-style-type: none;
margin: 0;
padding: 0;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
/* #endregion Reset */

/* #region Standart */

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding: 120px 0;
}

/* #endregion Standart */

/* #region Header */
.header {
    border-bottom: 1px solid #e7e9fc;

}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.header-nav-logo {
    padding: 25.5px 0;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-list-item {}

.header-nav-link {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 25.5px 0;
    display: block;
}

.header-nav-link:hover, .header-nav-link:focus {
        color: #404bbf;
    }

.header-contact {
    font-style: normal;
    margin-left: auto;
}

.header-contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mail-tel {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            padding: 24px 0;
            display: block;
}

.mail-tel:hover, .mail-tel:focus {
    color: #404bbf;
}

/* #endregion Header */

/* #region Hero */
.hero {
    background: #2e2f42;
    padding: 188px 0;
    text-align: center;
}

.hero-text {
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    font-family: inherit;
    color: #fff;
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    display: block;
    border-radius: 4px;
    margin: 0 auto;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: #404bbf;
    }
/* #endregion Hero */

/* #region Strategy */

.features {}

.features-hide {}

.features-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.strategy-list {
    display: flex;
}

.features-list-item {}
/* #endregion Strategy */

/* #region Team */

.team-paragraph {
max-width: 162;
margin: 0 auto 72px;
}

.team-list {
    display: flex;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-logo {background: #fff;}

.team-member {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-specialty {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;}

.team {
    background-color: #f4f4fd;
}

.team {}

.team-list {}

.team-list-item {
    background: #fff;
}
/* #endregion Team */

/* #region Portfolio */

.portfolio {}

.portfolio-list {}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list-item {
    background: #fff
}

.portfolio-item {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-offer {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* #endregion Portfolio */

/* #region Footer */
.end {
    background: #2e2f42;
}

.end-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.end-logo-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.end-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;}

/* #endregion Footer */